<div class="container-fluid py-5">
    <div class="row px-xl-5">
        <div class="col">
            <div class="owl-carousel vendor-carousel">
                <div class="bg-light p-4">
                    <img src="https://cdn.qukasoft.com/f/125011/cG96WmFtNG0vcUp3ZUdGdkg4OG5hTDBQYmNFPQ/b/aspilsan-19184332-sw283sh142.webp" alt="">
                </div>
                <div class="bg-light p-4">
                    <img src="https://cdn.qukasoft.com/f/125011/cG96WmFtNG0vcUp3ZUdGdkg4OG5hTDBQYmNFPQ/b/amass-71747296-sw283sh142.webp" alt="">
                </div>
                <div class="bg-light p-4">
                    <img src="https://cdn.qukasoft.com/f/125011/cG96WmFtNG0vcUp3ZUdGdkg4OG5hTDBQYmNFPQ/b/changfa-75458041-sw283sh142.webp" alt="">
                </div>
                <div class="bg-light p-4">
                    <img src="https://cdn.qukasoft.com/f/125011/cG96WmFtNG0vcUp3ZUdGdkg4OG5hTDBQYmNFPQ/b/dmegc-14996738-sw283sh142.webp" alt="">
                </div>
                <div class="bg-light p-4">
                    <img src="https://cdn.qukasoft.com/f/125011/cG96WmFtNG0vcUp3ZUdGdkg4OG5hTDBQYmNFPQ/b/daly-70966869-sw283sh142.webp" alt="">
                </div>
                <div class="bg-light p-4">
                    <img src="https://cdn.qukasoft.com/f/125011/cG96WmFtNG0vcUp3ZUdGdkg4OG5hTDBQYmNFPQ/b/ctechi-33222895-sw283sh142.webp" alt="">
                </div>
                <div class="bg-light p-4">
                    <img src="https://cdn.qukasoft.com/f/125011/cG96WmFtNG0vcUp3ZUdGdkg4OG5hTDBQYmNFPQ/b/europlus-29571019-sw283sh142.webp" alt="">
                </div>
                <div class="bg-light p-4">
                    <img src="https://cdn.qukasoft.com/f/125011/cG96WmFtNG0vcUp3ZUdGdkg4OG5hTDBQYmNFPQ/b/hda-power-5696099-sw283sh142.webp" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
